
{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center mx-3">
    <div class="col-lg-4 col-md-6 col-sm-10">
        {% if not contacts %}
            No contacts found
        {% endif %}

        <ul class="list-group mb-4">
            {% for contact in contacts %}
                <li class="list-group-item"> 
                    {{ contact.handle }}
                </li>
            {% endfor %}
        </ul>

        <form action="/contacts" method="GET">
            <h1 class="h3 my-3 text-center">Search contact</h1>
            <input type="text" id="inputHandleSearch" name="search" class="form-control mb-1" placeholder="Handle" required="" autofocus="">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
        </form>
    </div>
</div>

{% endblock %}