<!-- templates/shop.html -->

{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
  <!-- 
  <div class="col-lg-3">

    <h1 class="my-4">Shop Name</h1>
    <div class="list-group">
      <a href="#" class="list-group-item">Category 1</a>
      <a href="#" class="list-group-item">Category 2</a>
      <a href="#" class="list-group-item">Category 3</a>
    </div>

  </div>
   -->

  <div class="col-lg-9">
    <h1 class="text-center">aaaa</h1>
    <h6 class="text-center">hohohohohohoh</h6>


    <div class="row mt-3">
    </div>
    <!-- /.row -->

  </div>
  <!-- /.col-lg-9 -->

</div>
<!-- /.row -->
{% endblock %}